extends ../layout

include ../mixins/lists
include ../mixins/form


block content
  h1= title
  
    
  form(action="/things/add",method="POST")
      mixin text-box('Item Name','name','')
      mixin text-box('Item Discription','discription','')
        
      input.btn.btn-success.pull-right(type="submit",value="Submit")
      a.btn.btn-default.pull-right(href="/things/") Cancel