extends ../layout

include ../mixins/form

block content
  h1= title
  form(action="/things/edit/#{thing.id}",method="POST")
      mixin text-box('Item Name','name',thing.name)
      mixin text-box('Item Discription','discription',thing.discription)
        
      input.btn.btn-success.pull-right(type="submit",value="Submit")
      a.btn.btn-default.pull-right(href="/things/") Cancel
      a.btn.btn-danger.pull-right(href="/things/delete/#{thing.id}") Delete