extends ../layout

include ../mixins/lists

block content
  h1= title
  div.list-group
        - each item in things
            a.list-group-item(href='/things/edit/#{item.id}')= item.discription
  
  
  a.btn.btn-primary.pull-right(href="things/add") Add Thing
  //mixin link-list-group(things) 