extends layout
include mixins/lists

block content
  h1 Developers
  p These are the developers who helped on this app!
  h2 Students
  mixin list-developers-students
    
  h2 Professor
  mixin list-developers-professors

  