doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    script(src='/javascript/bootstrap.min.')
  body
  
    nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Internet Of Things

        #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/regions')
            | Region 
            span.sr-only (current)
        
        li
          a(href='/things') Things  
        
        li
          a(href='/users') Users
          
        li
          a(href='/logs') Logs
        li
          a(href='/developers') Developers
        
    main.container
      
      if flash 
        if flash.notice != ''
          div.alert.alert-success= flash.notice
        if flash.error != ''
          div.alert.alert-danger= flash.error
          
      block content
   