extends ../layout

include ../mixins/lists
include ../mixins/form

block content
  h1= title
  
  form(action="/users/add", method="POST")
    mixin text-box('Name','name', '')
    mixin text-box('User Name','userName','')
    mixin text-box('Password', 'password','')
    
    input.btn.btn-default(type="submit", value="Submit")
    a.btn.btn-default(href="/user/") Cancel
    