extends ../layout

include ../mixins/form

block content
    h1 = title
    h2 = "Please select which person you wish to remove from the account"
    h3 = "Be warned that removal of person cannot be undone."
    
    form(action="/users/delete/#{id}", method="POST")
    mixin text-box('name','Your Name','Spencer') 
    