extends ../layout

include ../mixins/form

block content
  h1= title
  form(action="/users/edit/#{id}",method="POST")
    mixin text-box('User Name','userName',user.userName)
    mixin text-box('Name', 'name', user.name)
    
    input.btn.btn-success(type="submit",value="Submit")
    a.btn.btn-default(href="/user/") Cancel
    a.btn.btn-danger(href="/user/delete/#{user.id}")Delete