//Login

extends ../layout

include ../mixins/form

block content
  h1= title

  form(action="/users/login", method="POST")
    mixin text-box('User Name', 'username', '')
    mixin text-box('Password', 'password', '')
    a.btn.btb-default(href="/users/login") Clear
         &nbsp;
    input.btn.btn-primary(type="submit", value="Login")
    