//Changes need to be done to this page

extends ../layout 

include ../mixins/lists
include ../mixins/form

block content
  h1= title
  
  form(action="/index/add/", method="add")
    mixin text-box('name', 'Region Name', 'Region 1')
    
    a.btn.btn-default(href="/index") Cancel
     &nbsp;
    input.btn.btn-primary(type="submit", value = "Add a new Region")
    
  form(action="/index/addItem/#{id}", method="addItem")
    mixin text-box('name', 'Item Name', 'Item 1')
    
    a.btn.btn-default(href="/index") Cancel
     &nbsp;
    input.btn.btn-primary(type="submit", value = "Add a new Item")