extends ../layout

include ../mixins/form

block content
  h1= title
  
  form(action="/index/editRegion/#{id}",method="editRegion")
    mixin text-box('name','Region Name','Region 1') 
  
    a.btn.btn-default(href="/") Cancel
    &nbsp;
    input.btn.btn-primary(type="submit",value="Save")
    
    
  form(action="/index/editItem/#{id}",method="editItem")
    mixin text-box('name','Region Item','Item 1') 
  
    a.btn.btn-default(href="/index") Cancel
    &nbsp;
    input.btn.btn-primary(type="submit",value="Save")  