extends ../layout

include ../mixins/lists

block content
  h1= title
  
  mixin link-list-group(list, "regions", "edit")
  div.list-group
        - each item in list2
            a.list-group-item(href='/things/edit/#{item.id}')= item.discription