mixin list-group(list)
    ul.list-group
        - each item in list
            li.list-group-item= item
            
//mixin link-list-group(list)
    div.list-group
        - each item in list
            a.list-group-item(href='#{item.href}')= item.description
            

mixin link-list-group(list, module, action)
    div.list-group
        - each item in list
            a.list-group-item(href='/#{module}/#{action}/#{item.id}')= item.description

            

mixin list-developers-students
  ul.list-group
    li.list-group-item Deividy Negri
    li.list-group-item Dogival Ferreira
    li.list-group-item Jacob Oertle
    li.list-group-item Jay Chaudhari
    li.list-group-item Spencer Gowin


mixin list-developers-professors
    ul.list-group
        li.list-group-item Paul Swenson
        
        
mixin link-list-log(list, module, action)
    div.list-group
        - each item in list
            div.list-group-item(href='/#{module}/#{action}/#{item.id}')
                strong User:
                &nbsp;
                span= item.user 
                &nbsp;
                strong Device:
                span= item.device
                &nbsp;
                strong Message:
                span= item.message
                &nbsp;
                strong Timestamp:
                span= item.timestamp