extends ../layout

include ../mixins/lists


block content
  h1= title
  
  
  form(action="/regions/add/", method="POST")
    div.form-group
      label(for="description") Add test
      input(type='text',id="description",class='form-control',name="description")

    a.btn.btn-default(href="/regions") Cancel
    &nbsp; &nbsp; &nbsp;
    input.btn.btn-success(type="submit", value = "Add a new Region")