extends ../layout

include ../mixins/lists

block content
  h1= title
  
  
  form(action="/regions/edit/#{region.id}", method="POST")
    div.form-group
      label(for="description") Edit the name and click save
      input(type='text',id="description",class='form-control',name="description",value=region.description)

    a.btn.btn-default(href="/regions") Cancel
    &nbsp; &nbsp; &nbsp;
    a.btn.btn-danger(href="/regions/delete/#{region.id}") Delete
    &nbsp; &nbsp; &nbsp;
    input.btn.btn-success(type="submit", value = "Save")